.konten-bulat {
  margin-right: auto;
}
.bulat-proses {
  counter-reset: step;
}
.bulat-proses li {
  list-style-type: none;
  width: 200px;
  float: left;
  font-size: 14px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #444444;
}
.bulat-proses li:before {
  width: 60px;
  height: 60px;
  content: counter(step);
  counter-increment: step;
  line-height: 50px;
  border: 3px solid #444444;
  display: block;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  background-color: white;
}
.bulat-proses li:after {
  width: 100%;
  height: 3px;
  content: '';
  position: absolute;
  background-color: #444444;
  top: 30px;
  left: -50%;
  z-index: -1;
}
.bulat-proses li:first-child:after {
  content: none;
}
.bulat-proses li.active {
  color: rgb(245, 167, 11);
}
.bulat-proses li.active:before {
  border-color: #ffc451;
}
.bulat-proses li.active + li:after {
  background-color: #ffc451;
}

.detail_cek {
  list-style-type: none;
  font-size: 14px;
  letter-spacing: 1pt;
  text-transform: uppercase;
  color: #444444;
}

.gbr-detail {
  width: 100%;
  height: 300px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}